@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: mont;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: ubuntu;
  src: url("./assets/fonts/ubuntu.ttf");
}

@font-face {
  font-family: fira;
  src: url("./assets/fonts/FiraCode-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: fira;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: mont;
}

h3 {
  font-family: ubuntu;
}

textarea {
  resize: none;
}
